body {
  font-family: Lato, sans-serif;
  color: white;
  background-color: #333;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
}
a, p {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover, p:hover {
  color: cornflowerblue;
}
h1 {
  font-family: 'Londrina Shadow', cursive;
  position: fixed;
  display: inline-block;
  top: -15px;
  left: 50px;
  font-size: 90px;
}
p#logout {
  position: fixed;
  top: 30px;
  right: 5vw;
  font-family: 'Londrina Shadow', cursive;
  font-size: 5vh;
  font-style: bold;
}
div#login {
  position: fixed;
  top: 25vh;
  left: 30vw;
  font-size: 16pt;
}
.link {
  margin-right: 70px;
}
#welcome {
  position: fixed;
  top: 85px;
  left: 300px; 
  font-size: 3vh;
}
#guess-ui {
  position: fixed;
  left: 5vw;
  top: 25vh;
  width: 400px;
}
#main-menu {
  position: fixed;
  top: 150px;
  left: 60px;
  font-size: 30px;
}
#nyc-menu {
  position: fixed;
  top: 215px;
  left: 80px;
  font-size: 20px;
}
#mode-menu {
  position: fixed;
  left: 100px;
  top: 165px;
  font-size: 20px;
}

form {
 display: inline-block;
 position: fixed;
 top: 40vh;
 left: 30vw;
 font-size: 16pt;
}
input {
  height: 22px;
  box-radius: 30px;
  font-size: 15pt;
  margin: 5px 0;
}
#points {
  color: gold;
  
}
.points {
  position: fixed;
  left: 40px;
  top: 400px;
}


/* --------- D3 ELEMENTS --------- */
svg {
  margin:0 auto;
  /*border: 1px solid red;*/
}
path {
  cursor: pointer;
  transition: scale 3s ease-in-out;

}
path:hover {
  stroke-width: 2.3;
  stroke: cornflowerblue; 
  /*transform: scale(1.005);*/
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*/
