body {
  font-family: Lato, sans-serif;
  color: white;
  background-color: #3D4454;
  text-shadow: 1px 1px 3px black;
}
a {
  text-decoration: none;
  color: cornflowerblue;
}
h1 {
  position: fixed;
  display: inline-block;
  top: -15px;
  left: 20px;
  font-size: 40pt;
}
#welcome {
  position: fixed;
  top: 80px;
  left: 20px; 
  font-size: 18pt;
}
#guess-ui {
  position: fixed;
  left: 20px;
  top: 350px;
}
#nyc-menu {
  position: fixed;
  left: 700px;
  top: 30px;
}
div#login {
  position: fixed;
  left: 300px;
  top: 40px;
  font-size: 20pt;
}
form {
 display: inline-block;
 margin-top: 100px;
 margin-left: 15px;
 font-size: 18pt;
}
input {
  height: 22px;
  box-radius: 30px;
  font-size: 15pt;
}


/* --------- D3 ELEMENTS --------- */
svg {
  margin-top: 40px;  
}
path {
  /*transition: all .2s ease-in-out;*/
}
path:hover {
  stroke-width: 2;
  stroke: cornflowerblue; 
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
*/
