/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Lato, sans-serif;
  color: white;
  background-color: grey;
  text-shadow: 1px 1px 3px black;
}

a {
  text-decoration: none;
}

.wrong-guess {
  /*fill: red;*/
}

path {
  /*stroke: darkblue;*/
  /*stroke-width: 1;*/
  /*fill: steelblue;*/
}

path:hover {
  /*stroke-width: 3;*/
  fill: cornflowerblue;
}

path.clicked {
  /*fill: yellow;*/
}