<div id="guess-ui">
  <input type="text" id="guess-input">
  <button id="guess">Submit Guess</button>
  <span id="guess-result"></span>
</div>

<div id="map"></div>

<script type="text/javascript" src='../assets/map.js'></script>



<script>

DOOOOOP
</script>